/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  
  height: 100%; 
  
} */

/* home */
.box-body-home, .home-banner{
  border: none !important;
  background-color: #ECF0F5 !important;

}

.home-p{
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.home-item3 .home-p{
  margin-left: 1rem;
}

.home-item2, .home-item3, .home-item4{
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

}

.referal-h3{
  margin-top: 0.1rem;
}

.graphic-image-wrapper{
  width: 100%;
}

.graphic-image{
  width: 100%;
  box-shadow: 0px 4px 20px -20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.home-item4{
  margin-top: 1rem;
}



.arrow-icon{
  float: right;
}

@media only screen and (min-width: 769px){
  .home-wrapper{
    width: 70%;
  }
  
  .home-banner{
    width: 100%;
  }

}

.grid-home{
  padding: 0;
  /* height: 30vh !important; */
}

@media only screen and (min-width: 1000px){

  .grid-home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "left-grid right-grid"
    ;
  }
  .left-grid{
    height: 100% !important;
    width: 100%;
    grid-area: left-grid;
    /* position: relative; */
  }

  .right-grid{
    height: 100% !important;
    width: 100%;
    grid-area: right-grid;
  }
  
  .home-item4{
    height: 20% !important;
    width: 100%;
  }
  

  .home-item2{
    height: 79% !important;

  } 
}

@media only screen and (min-width: 769px){
  .right-grid div{
    padding: 0;
  }
}
@media only screen and (max-width: 1199px){
  .right-grid div{
    margin-top: 0.6rem !important;
    padding: 0;
  }
}

@media only screen and (max-width: 1199px){
  .referal-h3{
    font-size: 1.5rem;
  }
  .arrow-icon{
    width: 10%;
  }
  .home-item4{
    height: 30% !important;
    width: 100%;
    margin-top: 1rem;
  }
  

  .home-item2{
    height: 67% !important;
    
  } 
}
/* home end */

/* ==========================================================================
  SETTING (DIMAS)
========================================================================== */
.setting-content-wrapper {
  width: 100%;
}

.container-setting {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 130px;
  /* background-color: yellow; */
}

.container-setting-inside {
  width: 83%;
  /* background-color: lightblue; */
  margin: 0 auto 0 auto;
}

.card-wrapper {
  width: 20%;
}

.setting-card-menu {
  /* width: 287px; */
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  /* margin-right: 11px; */
}

.setting-menu-header {
  height: 100%;
}

.setting-profile-photo {
  width: 73px;
  height: 73px;
  float: left;
  margin-bottom: 40px;
  margin-right: 1rem;
}

.setting-profile-name {
  font-size: 18px;
  font-weight: 700;
  padding-top: 30px;
  /* padding-bottom: auto; */
}

@media (max-width: 1439px) {
  .setting-profile-photo {
      width: 53px;
      height: 53px;
      margin-right: 0.3rem;
  }

  .setting-profile-name {
      font-size: 14px;
      padding-top: 20px;
  }
}

@media (max-width: 938px) {
  .setting-card-link {
      font-size: 14px !important;
  }

  .setting-profile-photo {
      display: block;
      margin-bottom: 0;
  }

  .setting-profile-name {
      clear: both;
      margin-bottom: 40px;
      padding-top: 5px;
      font-size: 12px;
  }
}

.setting-menu {
  clear: both;
  padding: 0;
}

.setting-card-link {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-left: 0 !important;
  margin-bottom: 30px;
  color: rgba(173, 173, 173, 1);
}

.setting-card-link:hover {
  color:rgba(251, 184, 75, 1);
}


.setting-card-link:focus{
color:rgba(251, 184, 75, 1);
}

.selected{
color:rgba(251, 184, 75, 1);
}

@media (max-width: 767px) {
  .setting-card-menu {
      display: none !important;
  }

  .setting-menu-mobile {
      position: relative;
      bottom: 10px;
  }
  .setting-mobile {
      color: rgba(251, 184, 75, 1) !important;
  }
  .mobile-link-option {
      color: rgba(173, 173, 173, 1);
  }
}
@media (min-width: 768px) {
  .setting-menu-mobile {
      display: none;
  }
}

/* ==========================================================================
PROFILE (DIMAS)
========================================================================== */

.profile-form-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  
}

.user-input-profile {
  width: 283px !important;
}

@media (max-width: 375px) {
  .user-input-profile{
    width: 230px !important;
  }
}

.profile-category{
  padding-left: 26px;
  padding-top: 22px;
}

.profile-button-wrapper {
  padding-bottom: 24px;
  padding-left: 26px;
}
.profile-button {
  width: 223px;
  background-color: rgba(251, 184, 75, 1) !important;
  border: 1px solid rgba(251, 184, 75, 1) !important;
}

.col-profil-label {
  font-weight: 700;
}

/* ==========================================================================
CHANGE PASSWORD (DIMAS)
========================================================================== */

.error-passwordLama, .error-passwordBaru{
border: none;
padding: 0;
}

.error-passwordLama p, .error-passwordBaru p{
margin-bottom: 0;
}

.change-pass-form{
margin-bottom: 0;
}

.pass-button{
margin-top: 2rem;
}
/* ==========================================================================
HELP (DIMAS)
========================================================================== */

.setting-help-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 20px !important;
}

.card-menu-list {
  display: block;
  margin-left: 0 !important;
  font-weight: 700;
  margin-left: 0 !important;
  margin-bottom: 30px;
  color: rgba(173, 173, 173, 1);
}

/* .card-menu-list:hover{
color:rgba(63, 221, 159, 1) ;
} */

/* .card-menu-list:active{
color:rgba(63, 221, 159, 1) ;
} */

.help-card-body {
  margin-top: 24px;
}

/* ==========================================================================
MANAGE ACCOUNT (DIMAS)
========================================================================== */

.sub-help-content-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.sub-setting-content {
  padding: 59px !important;
}

.question {
  margin-top: 32px;
  border-bottom: none;
}

.button-manage-wrapper {
  height: 100%;
  width: 30%;
  margin: 0 auto;
}

.btn-thumbs-down,
.btn-thumbs-up {
  width: 104px ;
  height: 62px ;
  margin: 0 auto 0 auto !important;
  padding-top: 12px !important;
}

@media (max-width: 1395px) {
  .btn-thumbs-down,
  .btn-thumbs-up {
      width: 60px;
      height: 62px;
      margin: 0 auto 0 auto !important;
      padding: 15px 5px 5px 5px;
  }
  .button-manage-wrapper {
      width: 35%;
  }
}

@media (max-width: 808px) {
  .btn-thumbs-down,
  .btn-thumbs-up {
      width: 60px;
      height: 62px;
      margin: 0 auto 0 auto !important;
      padding: 15px 5px 5px 5px;
  }
  .button-manage-wrapper {
      width: 40%;
  }
}

@media (max-width: 808px) {
  .sub-setting-content {
      padding: 20px !important;
  }
  .container-setting-inside {
      width: 100%;
  }
}

/* ==========================================================================
COMPLAIN (DIMAS)
========================================================================== */
/* .complain-text-area, .complain-label{
display: block;
} */

.complain-text-area {
  width: 90%;
}

.complain-image-wrapper {
  position: relative;
  border-radius: 2px;
  border: 1px solid black;
  width: 80px;
  height: 71px;
  text-align: center;
}

.complain-image {
  display: block;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-wrapper {
  position: absolute;
  left: 82%;
  top: -3%;
}
.upload-file-complain:hover {
  cursor: pointer;
}

/* ==========================================================================
COMPLAIN CHAT (DIMAS)
========================================================================== */
.chat-form-wrapper{
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 20px;
padding-top: 2rem !important;
padding-bottom: 2rem !important;
/* width: 807px */
/* margin-left: 51px; */
} 

.card-content{
margin: 30px !important;
padding-top: 30px;
}

.user-chat{
float: right;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 20px !important;
}

.admin-chat{
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 20px !important;
background-color: rgba(7, 117, 255, 1) !important;
}

.admin-chat-content{
color: #FFFFFF;
}
.img-complain-chat{
width: 100%;
}

.clear{
clear: both;
}

.btn-send-report{
  background-color: rgba(251, 184, 75, 1) !important;
  border: 1px solid rgba(251, 184, 75, 1);
  color: #fff !important;
}


/* ==========================================================================
PRIVACY POLICY (DIMAS)
========================================================================== */

@media (max-width: 451px) {
.privacy-content p{
  font-size: 12px !important;
}
}

/* ==========================================================================
BANTUAN (DIMAS)
========================================================================== */
@media (max-width: 451px) {
.sub-setting-content p{
  font-size: 12px !important;
}
}