* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================================= */
/* =============== Global Styles =============== */
/* ============================================= */

body {
    font-family: "Raleway", sans-serif !important;
}

h2 {
    font-size: 36px !important;
}

h3 {
    font-size: 24px !important;
}

p {
    font-size: 18px !important;
    line-height: 21px !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 19px !important;
    }
}

.page-header {
    height: 350px;
    padding-top: 15em;
    background: linear-gradient(175.2deg, #033ba8 38.04%, #0674fe 82.43%);
}

.page-header h1 {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

/* ============================================= */
/* ============================================= */

/* =============== Navbar =============== */

/* change navbar height */
.navbar {
    min-height: 100px;
}

/* change the navbar bg color */
.navbar-custom {
    background: #043ca9;
}

/* change the brand color */
.navbar-custom .navbar-brand {
    font-family: "Reem Kufi", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
}

.navbar-custom ul .active {
    color: #fbb84b !important;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #fbb84b;
    transition: 0.2s ease-in;
}

.selected {
    color: #fbb84b !important;
    font-weight: 500 !important;
}

.login {
    color: #fbb84b !important;
}

.navbar-custom .nav-item .login:hover {
    cursor: pointer;
}

.cart-btn {
    background: #fbb84b;
    color: white !important;
    font-weight: 700 !important;
    border-radius: 20px;
    text-align: center;
    width: 110px;
}

.input-login {
    background: #ffffff;
    height: 50px !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    border: transparent !important;
}

.login-btn {
    background: #fbb84b !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    height: 70px;
    margin-top: 2em;

    color: #ffffff !important;
    font-weight: 700 !important;
}

.login-fb {
    height: 70px;
    background: #2f80ed !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 21px !important;
}

.login-google {
    height: 70px;
    background: #eb5757 !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 21px !important;
}

/* =============== Jumbotron =============== */

.jumbotron-custom {
    /* min-height: 768px; */
    margin-top: -2px; /* Ada gap antar navbar dan jumbotron di tampilan mobile */
    min-height: 90vh;
    border-radius: 0px !important;

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.jumbotron-custom .row {
    height: 600px;
    column-gap: 30px;
}

.col-centered {
    display: flex;
    justify-items: center;
    align-items: center;
}

.jumbotron-custom h1 {
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.jumbotron-custom h3 {
    font-weight: 400 !important;
    text-transform: capitalize;
    color: #ffffff;
}

.jumbotron-custom .btn {
    margin-top: 1vh;
    width: 300px;
    height: 60px;
    background: #FBB84B;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.jumbotron-custom .btn:hover {
    background: #faac2f;
    color: white;
    transition: all 0.3s;
    /* color: #ffffff; */
}

@media (max-width: 425px) {
    .jumbotron-custom h1 {
        font-size: 24px !important;
    }
    .jumbotron-custom h3 {
        font-weight: 400 !important;
        font-size: 16px !important;
    }
    .jumbotron-custom .btn {
        margin-top: 1vh;
        /* width: 220px; */
        width: 100%;
        height: 50px;

        color: #181845;
        font-size: 18px;
    }

    .jumbotron-custom .row {
        height: 500px;
    }
}

/* =============== Try Demo =============== */

.try-demo {
    margin: 10vh auto;
}

.try-demo h2,
.try-demo h3 {
    text-align: center;
    margin: 5vh auto;
}

.try-demo h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: #102144;
}

.demo-icon-container {
    margin: 10vh auto;
}

.demo-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.demo-icon p {
    width: 50%;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #102144;
}

.try-demo-btn {
    text-align: center;
}

.try-demo-btn .btn {
    width: 345px;
    height: 70px;
    background: #fbb84b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.try-demo-btn .btn:hover {
    background: #e8a945;
    color: #ffffff;
}

.demo-icon-container .row {
    row-gap: 1em;
}

/* =============== Live Trading =============== */

.live-trading {
    margin-bottom: 10vh;
}

.live-trading .card {
    padding: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 20px;
}

.live-trading .trading-title {
    font-weight: 700 !important;
    text-transform: capitalize;
    text-align: center;
    color: #102144;
}

.trading-form {
    margin: 5vh 0;
}

.trading-form .form-group {
    width: 70%;
    margin: 4vh auto 0 auto;
}

.trading-form .form-group label {
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #102144;
}

.trading-form .form-group input {
    background: #ffffff;
    height: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 10px;
}

.trading-btn {
    width: 70%;
    margin: 2vh auto;
    text-align: right;
}

.trading-btn .btn {
    width: 250px;
    /* height: 70px; */
    /* width: 90%; */
    height: 2.5em;

    background: #fbb84b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.trading-btn .btn:hover {
    color: #ffffff;
    background: #dfa240;
}

.trading-result {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trading-result p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 37, 106, 0.5);
}

@media (max-width: 425px) {
    .trading-form {
        margin: 1em 0;
    }

    .trading-form .form-group {
        width: 100%;
        margin: 1em auto 0 auto;
    }

    .trading-form .form-group label {
        text-align: left;
    }

    .trading-form .form-group input {
        height: 50px;
    }

    .trading-btn .btn {
        width: 100%;
    }
}

/* =============== Market Summary =============== */

.market-card .big-card {
    /* height: 1068px; */
    margin: auto;
    padding: 3rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 20px;
}

.market-title {
    text-align: center;
    font-weight: 700;
    color: #102144;
}

.graph {
    height: 386px;
    background-color: rgba(33, 218, 215, 0.3);
    border-radius: 20px;
    margin-bottom: 1vh;
}

.currency {
    margin-top: 10px;
    padding: 1em;
    justify-content: space-around;
}

.market-card .currency .card {
    border: transparent;
    height: 6em;
    border-radius: 10px;
}

.market-card .currency .card:hover {
    cursor: pointer;
    background-color: rgba(189, 244, 243, 0.5);
    transition: all 0.5s;
}

.currency {
    row-gap: 10px;
}

.currency .card-body {
    display: flex;
}

.currency .mata-uang-img {
    width: 55px;
    height: 55px;
    /* border: 1px solid black; */
    /* background-color: rgb(184, 184, 184); */
    /* border-radius: 50%; */
}

.mata-uang-desc {
    width: 100%;
    text-overflow: ellipsis;
}

.mata-uang-symbol {
    font-weight: 700;
    font-size: 18px;
    color: #102144;
}
.mata-uang-desc {
    font-size: 16px;
    color: #102144;
}

.show-more {
    margin-top: 1rem;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    color: #fbb84b;
}

@media (max-width: 425px) {
    .market-card .big-card {
        padding: 1em 0.5em;
    }
    .market-card .currency .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .currency .mata-uang-img {
        width: 30px;
        height: 30px;
    }
    .mata-uang-symbol {
        font-size: 14px;
    }
    .mata-uang-desc {
        font-size: 12px;
    }
    .mata-uang {
        text-overflow: ellipsis;
    }
    .ask,
    .ask-percent {
        font-size: 14px;
    }
    .show-more {
        font-size: 18px;
    }
}

/* ========================================================= */

/* =============== Reason You need to join us =============== */

.reason {
    margin: 10vh auto;
    box-sizing: border-box;
}

.reason-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #181845;
}

.reason-list {
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center;
}

.reason-list .card {
    width: 90%;
    border: transparent;
}

.reason-list .card:hover {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.reason-list .card-body {
    display: flex;
    justify-content: space-evenly;
}

.reason-list .card-content {
    margin-left: 3rem;
    padding-top: 1rem;
}

/* =============== How it works =============== */

.how-it-work {
    background: linear-gradient(164.25deg, #033ba8 31%, #0674fe 75.92%);
}

.how-it-work .container {
    padding: 3rem 0;
}

.how-it-work h2 {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.how-it-work .step1,
.how-it-work .step2 {
    margin: 2rem auto;
}

.step2-img {
    order: 12;
}

.step2-text {
    order: 1;
}

.step1-img {
    display: flex;
}

.step1-img img {
    margin: 0 auto;
}

.how-img {
    width: 90%;
    height: 400px;
    background: #ffffff;
    border-radius: 20px;
    /* border: transparent; */
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.how-it-work .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3em;
}

.how-it-work .step p {
    font-weight: 700;
    color: #ffffff;
}

.how-it-work .step ul {
    padding-left: 1.2em;
}

.how-it-work .step ul li {
    font-weight: 400;
    color: #ffffff;
}

@media (max-width: 425px) {
    .step2-img {
        order: 1;
    }

    .step2-text {
        order: 12;
    }

    .how-img {
        width: 100%;
    }
    .how-it-work .step {
        padding-top: 1em;
    }
}

/* =============== Get it Now =============== */

.get-it-card {
    margin: 10vh auto;
    width: 60%;
}

.get-it-card .card {
    height: 399px;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
}

.card-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.card-head h2 {
    font-weight: 700 !important;
    color: #181845;
}

.get-it-btn {
    height: 55px;
    width: 234px;
    /* background: #21dad7; */
    background: #fbb84b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
}

.get-it-list ul {
    padding-left: 1.2em;
}

.get-it-list ul li {
    font-weight: 700;
    font-size: 16px;
    color: #181845;
    margin-top: 1em;
    padding-left: 1em;
}
@media (max-width: 768px) {
    .get-it-list ul li {
        font-weight: 700;
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .get-it-card {
        margin: 2em auto;
        width: 100%;
    }
    .get-it-card .card {
        height: auto;
    }
    .card-head h3 {
        font-size: 22px !important;
    }
    .get-it-btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    .get-it-list ul li {
        font-size: 14px;
        font-weight: 700;
    }
}
/* =============== Help Section =============== */

.help-section {
    margin: 5vh auto;
}

.help-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-item p {
    text-align: center;
    color: #181845;
}

.help-icon {
    height: 100px;
    width: 100px;
}

.help-title {
    font-weight: 700;
    text-align: center;
    color: #181845;
    margin: 10px 0 20px 0;
}

/* =============== Testimoni =============== */

.testimoni {
    margin: 10vh auto 3vh auto;
}

.testimoni .owl-carousel {
    margin-top: 2em;
}

.testimoni h2 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #181845;
}

.testimoni-list {
    margin: 5vh auto;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center; */
}

.testimoni-card {
    height: 300px;
    padding: 1em;
}

.testimoni-card .card {
    background: #ffffff;
    height: 250px;
    /* width: 500px; */
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testimoni-img {
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
}

.testimoni-kanan {
    flex: 3;
    margin: 1rem;
}

.the-testimoni {
    font-size: 14px !important;
    font-weight: 400;
    color: #181845;
}

.testimoni-name {
    font-weight: 700;
    color: #181845;
}

.testimoni-title {
    font-weight: 400;
    color: #7e7e7e;
}

@media (max-width: 425px) {
    .testimoni-card .card {
        height: auto;
        width: auto;
    }
    .testimoni-img {
        margin-right: 10px;
    }
    .the-testimoni {
        font-size: 12px !important;
    }
    .testimoni-name {
        font-size: 16px !important;
    }
    .testimoni-title {
        font-size: 14px !important;
    }
}

/* ========================================================= */

.footer {
    height: 386px;
    background-color: #181845;
}

/* ================================= Swap Arbitrage Page ================================= */

.swap-arbitrage {
    margin: 10vh auto;
}

.swap-arbitrage h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #102144;
    margin-bottom: 5vh;
}

.swap-arbitrage h3 {
    font-weight: 500;
    text-align: center;
    color: #102144;
}

.swap-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swap-desc h3 {
    font-weight: 700;
    color: #102144;
}

.swap-desc p {
    font-weight: 500;
    color: #102144;
}

.arbitrage-img {
    order: 12;
}

.arbitrage-desc {
    order: 1;
}

.lorem {
    font-weight: 400;
    text-align: center;
    color: #181845;
    margin: 10vh auto;
}

.how-swap {
    background: linear-gradient(164.25deg, #033ba8 31%, #0674fe 75.92%);
}

.how-swap .container {
    padding: 3rem 0;
}

.how-swap h2 {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.how-swap h3 {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.how-swap-img {
    display: flex;
}

.how-swap-img img {
    margin: 0 auto;
    /* width: 90%; */
    /* height: 400px; */
    /* border-radius: 20px;
    border: transparent;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
}

.how-swap .step1,
.how-swap .step2 {
    margin: 5em auto;
}

.step2-img {
    order: 12;
}

.step2 .step {
    order: 1;
}

/* Responsive for Swap-Arb definition & How Swap Arb */
@media (max-width: 425px) {
    .arbitrage-img {
        order: 1;
    }

    .arbitrage-desc {
        order: 12;
    }
    .lorem {
        font-size: 16px !important;
    }
    .step2-img {
        order: 1;
    }
    .step2 .step {
        order: 12;
    }
    .step {
        margin-top: 15px;
        margin-left: 0.5em;
    }
}

.how-swap .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3em;
}

.how-swap .step p {
    font-weight: 400;
    color: #ffffff;
}

.orrbit-help {
    margin: 10vh auto;
}

.orrbit-help-desc {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.orrbit-help-desc h3 {
    font-weight: 700;
    color: #102144;
    margin-bottom: 1em;
}

.orrbit-help-desc p {
    font-weight: 400;
    line-height: 21px;
    color: #102144;
}

.swap-get-it-card .card {
    padding: 1em;
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
}

.swap-get-it-card .card-head h2 {
    font-weight: 700;
    color: #102144;
}

@media (max-width: 425px) {
    .swap-get-it-card .card {
        height: auto;
        width: 100%;
    }
    .swap-get-it-card .card-head h2 {
        font-size: 22px !important;
    }
}

.learn-more h2 {
    font-weight: 700;
    text-align: center;
    color: #102144;
}

.learn-more-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center;
    margin: 5vh auto;
}

.learn-more-card .card {
    height: 400px; /* Optional */
    border: transparent;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-bottom {
    display: flex;
}

/* ======================================================================================= */

/* ================================= Technology Page ================================= */

.intro-orrbit {
    margin: 10vh auto;
}

.intro-orrbit h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #102144;
}

.intro-orrbit h3 {
    font-weight: 500;
    text-align: center;
    color: #102144;
    margin-top: 5vh;
}

.intro-orrbit-img {
    height: 637px;
    background: #ffffff;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 10vh;
}

.orrbit-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center;
    margin-bottom: 10vh;
}

@media (max-width: 425px) {
    .orrbit-card {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.orrbit-card .card {
    border: transparent;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px;
}

.orrbit-card .card-body h2 {
    text-transform: capitalize;
    font-weight: 700;
    color: #102144;
}

.orrbit-card .card-body p {
    font-weight: 500;
    color: #102144;
}

.integration h2 {
    font-weight: 700;
    color: #102144;
    text-align: center;
    margin-bottom: 5vh;
}

.orrbit-get-start h2 {
    font-weight: 700;
    color: #102144;
    text-transform: uppercase;
    text-align: center;
}

/* ======================================================================================= */

/* ================================= Pricing Page ================================= */

.pricing {
    margin-top: 5vh;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    /* padding: 2em; */
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 2rem 0;
    font-size: 0.9rem;
    font-weight: 700;
    color: #102144;
}

.pricing .card-price {
    font-size: 3rem;
    font-weight: 700;
    color: #102144;
    margin: 0;
}

.pricing .card-header {
    background-color: #ff2c2c;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    border: transparent;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .btn {
    margin-top: 2em;
    border-radius: 10px;
    font-weight: 700;
    padding: 1rem;
    transition: all 0.2s;
    background: #fbb84b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    color: #102144;
}

.pricing .plan3 {
    margin-top: -45px;
}

.pricing .plan3 .card {
    height: 650px;
}

@media (max-width: 425px) {
    .pricing .plan3 {
        margin-top: 0;
    }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        /* margin-top: -0.25rem; */
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
}

.faq {
    margin: 10vh auto 10vh auto;
}

.faq h2 {
    font-weight: 700;
    font-size: 36px;
    color: #181845;
    text-align: center;
    margin-bottom: 10vh;
}

.question {
    padding: 0.5rem;
    margin: 1vh auto 1vh auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;

    font-weight: 700;
    font-size: 20px;
    color: #181845;
}

.question button {
    border: transparent;
    background: #ffffff;
}

.faq .card:hover {
    cursor: pointer;
}

/* ======================================================================================= */

/* ================================= Blog Page ================================= */

.blog-menu {
    margin-top: 7vh;
}

@media (max-width: 425px) {
    .blog-menu {
        display: none;
    }
}

.blog-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog-menu li {
    list-style: none;
}

.blog-menu a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #c4c4c4;
}

.blog-menu a:hover {
    text-decoration: underline;
    /* color: #21dad7; */
    color: #fbb84b;
    transition: 0.2s ease-in;
}

.blog-trend {
    margin: 10vh auto;
}

.blog-trend .blog-desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.blog-desc p {
    font-weight: 500;
    color: #7e7e7e;
}

.blog-trend .blog-author {
    display: flex;
}

.blog-trend h2 {
    font-weight: 700;
    color: #000000;
}

.blog-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center;
    margin: 5vh auto;
}

.blog-card .card {
    height: 400px;
    border: transparent;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

a.custom-blog-card,
a.custom-blog-card:hover {
    color: inherit;
    text-decoration: none;
}

.card-bottom {
    display: flex;
}

.blog-pagination {
    width: 15%;
    margin: 0 auto;
}

.blog-pagination ul {
    display: flex;
    justify-content: space-around;
}

.blog-pagination li {
    list-style: none;
    text-decoration: none;
}

.blog-pagination a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #c4c4c4;
}

.blog-pagination a:hover {
    text-decoration: underline;
    /* color: #21dad7; */
    color: #fbb84b;
    transition: 0.2s ease-in;
}

/* ======================================================================================= */
/* ================================= Article Page ============================================== */

.article-title {
    font-weight: 700;
    color: #102144;
}

.article-author {
    display: flex;
    align-items: center;
}

.author-img {
    background: grey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.article-author p {
    color: #7e7e7e;
}

.article-card {
    margin: 2em auto;
}

.article-card .card {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
}

.article-card .card-body {
    display: flex;
    align-items: center;
}

.article-card-img {
    width: 130px;
    height: 130px;
    background: grey;
    border-radius: 50%;
}

.article-card-author {
    flex: 3;
    margin-left: 20px;
}

.article-card-author h3 {
    color: #043ca9;
    font-weight: 700;
}

@media (max-width: 425px) {
    .article-card .card {
        width: 100%;
    }
}

@media (max-width: 751px) {
    .article-card .card {
        width: 100%;
    }
}
/* ================================================================================================================================= */

.register {
    width: 50%;
    margin: 5vh auto 10vh auto;
}

.register h1,
.register label {
    font-weight: 700;
}

.register input {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
    height: 50px;
}

.register button {
    background: #fbb84b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: transparent;
    height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    margin-top: 2.5em;
}

.register button:hover {
    color: #ffffff;
    background: #e4a641;
}

@media (max-width: 425px) {
    .register {
        width: 100%;
    }
}

.coming-soon {
    display: flex;
    flex-direction: column;
}

.coming-soon img {
    margin: 0 auto;
}

.coming-soon h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #102144;
    margin-top: -30px;
    margin-bottom: 3em;
}



/* Cart Page */



.beli-lagi {
    height: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500 !important;
    color: white !important;
    background: #FBB84B !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}

.check-code {
    letter-spacing: 1px;
    background: #FBB84B !important;
    color: white !important;
    font-weight: 500 !important;
}

.use-code {
    height: 40px;
    letter-spacing: 0.5px;
    background: #FBB84B !important;
    color: white !important;
    font-weight: 500 !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.license-btn {
    height: 40px;
    letter-spacing: 0.5px;
    background: #FBB84B !important;
    color: white !important;
    font-weight: 500 !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.detail-history {
    text-decoration: none;
    color: #FBB84B;
}

.detail-history:hover {
    color: #FBB84B;
}

.nav-produk li a {
    color: #181845;
}

.nav-produk-left {
    border-right: transparent !important;
    border-top-left-radius: 20px !important;
}

.nav-produk-right {
    border-left: transparent !important;
    border-top-right-radius: 20px !important;
}

.nav-produk li .active {
    color: #FBB84B !important;
    border-bottom: 3px solid #FBB84B !important;
    /* border-bottom: tomato; */
}

/* ===================================== CART ========================== */
/*
Copyright © All rights Reserved
Surjith S M / @surjithctly
*/
.card-radio-robot + .card {
    /* color: #26cfa2; */
    border: 2px solid transparent;
    border-radius: 15px;
    width: 100%;
    background: #fff;
    padding: 10px;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 27px -17px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    min-height: 135px;
}

.card-radio-robot + .card:hover {
    cursor: pointer;
}

.card-radio-robot:checked + .card {
    /* border: 2px solid #26cfa2; */
    background: #FBB84B;
    color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card-radio-vps + .card {
    color: #FBB84B;
    border: 2px solid transparent;
    border-radius: 15px;
    width: 100%;
    background: #fff;
    padding: 10px;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 27px -17px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    min-height: 135px;
}

.card-radio-vps + .card:hover {
    cursor: pointer;
}

.card-radio-vps:checked + .card {
    border: 2px solid #FBB84B;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

@-webkit-keyframes fadeInCheckbox {
    from {
        opacity: 0;
        -webkit-transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes fadeInCheckbox {
    from {
        opacity: 0;
        transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}
.cart-block {
    background: #fff;
    width: 100%;
    padding: 30px;
    /* margin: 0 10px; */
    -webkit-box-shadow: 0px 0px 27px -17px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
@media (max-width: 992px) {
    .cart-block {
        padding: 33px 13px;
    }
}
.cart-block h6 {
    font-size: 15px;
    letter-spacing: 2px;
}
@media (max-width: 992px) {
    .cart-block p {
        font-size: 13px;
    }
}

.icon-cart {
    color: #FBB84B;
    font-size: 20px;
}
.cart-radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}
.cart-opt-block {
    min-height: 170px;
    background: #fff;
    width: 100%;
    padding: 15px;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 27px -17px rgba(158, 158, 158, 0.75);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
@media (max-width: 992px) {
    .cart-opt-block {
        padding: 33px 13px;
    }
}
.cart-opt-block h6 {
    font-size: 15px;
    letter-spacing: 2px;
}
@media (max-width: 992px) {
    .cart-opt-block p {
        font-size: 13px;
    }
}

.color-sewarobot {
    background: #FBB84B !important;
    color: #fff;
}
.color-sewarobot p {
    color: #fff !important;
}
.price-opt-through {
    font-size: 11px;
    margin: 0;
    text-decoration: line-through;
}
.price-opt-total {
    font-size: 11px;
    margin: 5px;
}

.pricing-text {
    text-align: left;
}
.pricing-text i {
    display: inline-block;
    margin: 0 8px 0 0;
    background: #daffd3;
    border-radius: 50%;
    padding: 6px;
    color: #99ce8f;
    font-size: 12px;
}
.pricing-text p {
    display: inline-block;
}

.pricing-btn_wrap {
    float: none;
}

.btn-checkout {
    background: #FBB84B !important;
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
}

.btn-submit-checkout {
    background: #FBB84B !important;
    color: white !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
}